<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron"> <h1>Unicorn Finder</h1>
        <!--유저명 추가-->
        <p th:text="${memberName}"> 유저명 </p>
        <!--스프링 시큐리티에서 기본적으로 제공하는 로그인, memberName 유무에 따라 표시-->
        <a th:if="${memberName == null}" class="btn btn-lg btn-info" href="/oauth2/authorization/google">구글 로그인</a>
        <!--스프링 시큐리티에서 기본적으로 제공하는 로그아웃-->
        <a th:if="${memberName != null}" href="/logout" class="btn btn-info active" role="button">Logout</a>
    </div>

    <!--검색 창-->
    <div class="col-3" style="float : right; margin : 10px;">
        <input type="text" id="search" class="form-control" placeholder="검색(회사이름, 서비스명)">
    </div>
    <!-- company 조회-->
    <div>
        <table id="company_table" class="table table-hover">
            <thead>
            <tr>
                <th class="skip-filter">투자 금액</th>
                <th>투자 단계</th>
                <th class="skip-filter">회사명</th>
                <th class="skip-filter">서비스</th>
                <th class="skip-filter">분야</th>
                <th>위치</th>
                <th class="skip-filter">직원수</th>
                <th class="skip-filter">관심수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company : ${companies}" th:onclick="'location.href=\''+ '/companies/'+ @{${company.id}} + '\''" onClick="">
                <td th:text="${company.invest}"></td>
                <td th:text="${company.round}"></td>
                <td class = "searchField" th:text="${company.name}"></td>
                <td class = "searchField" th:text="${company.product}"></td>
                <td th:text="${company.domain}"></td>
                <td th:text="${company.location}"></td>
                <td th:text="${company.employee}"></td>
                <td th:text="${company.count}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<!--검색 기능-->
<script src="/js/ddtf.js"></script>
<script>
    $(document).ready(function() {
            $("#search").keyup(function() {
                var k = $(this).val();
                $("#company_table > tbody > tr").hide();
                var temp = $("#company_table > tbody > tr > td:nth-child(8n+3):contains('" + k + "')");
                $(temp).parent().show();
                var temp = $("#company_table > tbody > tr > td:nth-child(8n+4):contains('" + k + "')");
                $(temp).parent().show();
            })
            //table 헤드 필터 추가
            $("#company_table").ddTableFilter();
        })
</script>
</body>
</html>