<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Company Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="row">
        <div class="col-md-9">
            <div class="span">
                <h2 th:text="${company.product}">** 기업</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="span">
                <a th:if="${status} == 1" href="#"
                   th:href="'javascript:cancel('+${memberId}+','+ ${company.getId()}+')'"
                   class="btn btn-primary">관심 해제</a>
                <a th:unless="${status} == 1" href="#"
                   th:href="'javascript:interest('+${memberId}+','+ ${company.getId()}+')'"
                   class="btn btn-outline-primary">관심 등록</a>
            </div>
        </div>
    </div>
    <div class="row jumbotron">
        <div class="col-md-9">
            <div class="span">
                <h3>기업 정보</h3>
                <textarea id="textarea1" class="form-control" th:text="${companyDetail.info}" style="border : none;" readonly></textarea>
            </div>
            <div class="span">
                <h3>기술 블로그</h3>
                <textarea id="textarea2" class="form-control" th:text="${companyDetail.blog}" style="border : none;" readonly></textarea>
            </div>
            <!-- 그래프 주석
            <div class="span">
                <h3>성장 과정</h3>
                <p>그래프</p>
            </div>-->
            <div class="span">
                <h3>직원 복지</h3>
                <textarea id="textarea3" class="form-control" th:text="${companyDetail.welfare}" style="border : none;" readonly></textarea>
            </div>
            <div class="span">
                <h3>기타 사항</h3>
                <textarea id="textarea4" class="form-control" th:text="${companyDetail.etc}" style="border : none;" readonly></textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div class="span">
                <h3>관심수</h3>
                <p th:text="${company.count}"></p>
            </div>
            <div class="span">
                <h3>직원수</h3>
                <p th:text="${company.employee}"></p>
            </div>
            <div class="span">
                <h3>위치</h3>
                <iframe
                        id="googleMap"
                        height="250"
                        width="250"
                        style="border: 0"
                        loading="lazy"
                        allowfullscreen >
                </iframe>
                <p th:text="${companyDetail.location}">주소~</p>
            </div>
            <div th:if="${session.member}!=null"> <!--상세 수정 -->
                <a th:if="${session.member.role.toString().equals('ADMIN')}" th:href="'/companies/' + ${company.id} + '/edit'" href="#" class="btn btn-primary">
                    상세 수정
                </a>
                <a th:if="${session.member.role.toString().equals('ADMIN')}" th:href="'/companies/' + ${company.id} + '/editCompany'" href="#" class="btn btn-primary">
                    기본정보 수정
                </a>
                <a th:if="${session.member.role.toString().equals('ADMIN')}" th:href="'javascript:deleteCompany('+ ${company.getId()}+')'" href="#" class="btn btn-danger">
                    회사 삭제
                </a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function cancel(memberId, companyId){
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/interest/" + memberId + "/" + companyId +"/cancel");
        document.body.appendChild(form);
        form.submit();
    };
    function interest(memberId, companyId){
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/interest/" + memberId + "/" + companyId);
        document.body.appendChild(form);
        form.submit();
    };
    function deleteCompany(companyId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/companies/" + companyId);
        document.body.appendChild(form);
        form.submit();
    };
</script>
<script th:inline="javascript">
    $( document ).ready(function() {

         /*<![CDATA[*/
         var company_location = /*[[ ${companyDetail.location} ]]*/;
         /*]]*/


        var url = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBN_RT5KgkVSDhQ1UV4PFnfc6IGckgRVq4&q="+company_location+"&region=KR&language=ko";

         $("#googleMap")[0].src = url;

        for(var i=1; i<5; i++){
             let textarea = $("#textarea"+i)[0];

             textarea.style.height = 'auto';
            let height = textarea.scrollHeight; // 높이
            textarea.style.height = `${height + 8}px`;
        }
});
</script>

</html>